#define RC_ICON             0x01

#define RC_SPRITE           0x10
#define RC_MAP_FULL         0x21
#define RC_MAP_EMPTY        0x20

#define ST_MAP              0x30

#define SND_PACMAN_CHOMP    0x40
#define SND_PACMAN_DIE    	0x50
#define SND_PACMAN_POWER   	0x60

RC_ICON             ICON    "../res/mainicon.ico"

RC_SPRITE           BITMAP  "../res/sprite.bmp"
RC_MAP_FULL         BITMAP  "../res/mapfull.bmp"
RC_MAP_EMPTY        BITMAP  "../res/mapempty.bmp"

SND_PACMAN_CHOMP    WAVE    "../res/wakawaka.wav"
SND_PACMAN_DIE    	WAVE    "../res/pacman_death.wav"
SND_PACMAN_POWER   	WAVE    "../res/power.wav"

STRINGTABLE
BEGIN
    ST_MAP      "\
xxxxxxxxxxxxxxxxxxxxxxxxxxxx\
x............xx............x\
x.xxxx.xxxxx.xx.xxxxx.xxxx.x\
xoxxxx.xxxxx.xx.xxxxx.xxxxox\
x.xxxx.xxxxx.xx.xxxxx.xxxx.x\
x..........................x\
x.xxxx.xx.xxxxxxxx.xx.xxxx.x\
x.xxxx.xx.xxxxxxxx.xx.xxxx.x\
x......xx....xx....xx......x\
xxxxxx.xxxxx/xx/xxxxx.xxxxxx\
xxxxxx.xxxxx/xx/xxxxx.xxxxxx\
xxxxxx.xx//////////xx.xxxxxx\
xxxxxx.xx/xxx//xxx/xx.xxxxxx\
xxxxxx.xx/xxx//xxx/xx.xxxxxx\
//////.///x//////x///.//////\
xxxxxx.xx/xxxxxxxx/xx.xxxxxx\
xxxxxx.xx/xxxxxxxx/xx.xxxxxx\
xxxxxx.xx//////////xx.xxxxxx\
xxxxxx.xx/xxxxxxxx/xx.xxxxxx\
xxxxxx.xx/xxxxxxxx/xx.xxxxxx\
x............xx............x\
x.xxxx.xxxxx.xx.xxxxx.xxxx.x\
x.xxxx.xxxxx.xx.xxxxx.xxxx.x\
xo..xx................xx..ox\
xxx.xx.xx.xxxxxxxx.xx.xx.xxx\
xxx.xx.xx.xxxxxxxx.xx.xx.xxx\
x......xx....xx....xx......x\
x.xxxxxxxxxx.xx.xxxxxxxxxx.x\
x.xxxxxxxxxx.xx.xxxxxxxxxx.x\
x..........................x\
xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

END